/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    padding: 2rem 0;
}

/* flex container */
.container {
    display: flex;
    justify-content: center;
}

/* rules for bigger image */
.items {
    width: 51%;
    height: 27rem;
}

.item {
    position: relative;
    text-align: right;
    color: white;
    width: 100%;
    height: 100%;
}

.item img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* rules for text over bigger image */
.text {
    position: absolute;
    right: 0;
    bottom: 1rem;
    padding-right: 1.2rem;
}

.text h3 {
    font-size: 1.4rem;
}

.text p {
    font-size: 1.2rem;
}

/* rules for smaller images */
.thumbs {
    width: 9.99%;
    height: fit-content;
    position: relative;
}

.thumb {
    height: 5.4rem;
    opacity: 0.5;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: 5.4rem;
    object-fit: cover;
}

/* rules for arrows */
.prev, .next {
    position: absolute;
    left: calc(52% - 1rem);
}

.prev {
    top: -2rem;
}

.next {
    bottom: -2rem;
}

.prev::after, .next::after {
    background-color: grey;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
}

.prev::after {
    content: '\02C4';
}

.next::after {
    content: '\02C5';
}

/* rules for big images to be hidden */
.item.active {
    display: block;
}

/* rule for small selected images */
.thumb.active {
    opacity: 1;
    border: 1px solid white;
}